#map {
	background-image: url(../img/plan.png);
	background-repeat: no-repeat;
	width: 900px;
	height: 700px;
	margin: 0 auto;
	position: relative;
}

path {
	fill: transparent;
	stroke: transparent;
}

path:hover {
	fill: #fff;
	stroke: #000;
	cursor: pointer;
}

.tooltip_map {
	position: absolute;
	/*display: none;*/
	padding: 8px;
	background: #f1f1f1;
	font-size: 12px;
	font-family:  Arial, Tahoma, "Verdana sans-serif";
	font-weight: bold;
	border: 1px solid #021331; 
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.57);
}

.popup-info {
	display: none;

}

.popup-info .wrapper {
	background-color: #fff;
	width: 70%;
	margin: 30px auto;
	position: relative;
}

.popup-info .wrapper img {
	width: 100%;
}

.themodal-overlay .popup-info .wrapper .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #7f0000;
	z-index: 1000;
}

.themodal-overlay .popup-info .wrapper .close:hover {
	cursor: pointer;
}